<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.tag.web.user.mapper.UserOrgMapMapper">
    <!-- params -->
    <parameterMap id="BaseParamsMap" type="cn.itcast.tag.web.user.bean.UserOrgMapBean"/>

    <!-- result -->
    <resultMap id="BaseResultMap" type="cn.itcast.tag.web.user.bean.UserOrgMapBean"/>

    <!-- column -->
    <sql id="Base_Column_List">
        id,user_id,org_id,state,ctime,utime,remark
    </sql>

    <select id="queryForId" resultMap="BaseResultMap" parameterMap="BaseParamsMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_user_organization_map
        where id = #{id}
        <if test="state != 0">
            AND state = #{state}
        </if>
    </select>

    <select id="queryForUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id,user_id,org_id,state,ctime,utime,remark from tbl_user_organization_map where user_id = #{id}
    </select>

    <select id="queryForOrgId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id,user_id,org_id,state,ctime,utime,remark from tbl_user_organization_map where org_id = #{id}
    </select>

    <!-- 新增用户组织关联 -->
    <insert id="addUserOrgMap" parameterType="cn.itcast.tag.web.user.bean.UserOrgMapBean" useGeneratedKeys="true"
            keyProperty="id">
        insert into tbl_user_organization_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="state != 0">
                state,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="utime != null">
                utime,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="orgId != null">
                #{orgId},
            </if>
            <if test="state != 0">
                #{state},
            </if>
            <if test="ctime != null">
                #{ctime},
            </if>
            <if test="utime != null">
                #{utime},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>

    <!-- 根据ID删除用户组织关联 -->
    <delete id="delUserOrgMapForId" parameterMap="BaseParamsMap">
        DELETE FROM tbl_user_organization_map
        WHERE id=#{id}
    </delete>

    <delete id="delUserOrgMap" parameterMap="BaseParamsMap">
        DELETE FROM tbl_user_organization_map
        WHERE 1=1
        <if test="id != null">
            and id=#{id}
        </if>
        <if test="userId != null">
            and user_id=#{userId}
        </if>
        <if test="orgId != null">
            and org_id=#{orgId}
        </if>
        <if test="state != 0">
            and state=#{state}
        </if>
    </delete>

    <!-- 根据ID修改用户组织关联 -->
    <update id="updateUserOrgMap" parameterMap="BaseParamsMap">
        UPDATE tbl_user_organization_map SET
        <if test="userId != null">
            user_id=#{userId},
        </if>
        <if test="orgId != null">
            org_id=#{orgId},
        </if>
        <if test="state != 0">
            state=#{state},
        </if>
        <if test="remark != null">
            remark=#{remark},
        </if>
        utime=NOW() WHERE id=#{id}
    </update>

</mapper>
